.root
	border: 1px solid $colors.greyColor
	font-family 'Thin', arial, sans-serif
	border-radius 3px
	margin 20px 18px 0 0
	width 210px

.filterItem
	border-bottom: 1px solid $colors.greyColor
	padding 5px 10px

	&.-open
		.CatolugueSideBar-filterContent
			padding 10px 0
			overflow visible
			max-height 100%
			transition .1s linear
		.CatolugueSideBar-icon
			transform rotate(180deg)

.btnBox
	display flex
	align-items center

.sideBarBtn
	border none
	background none
	font 14px 'Thin', arial, sans-serif
	cursor pointer
	width 100%
	display flex
	padding 5px 0
	margin 0 0 0 10px
	outline none

.filterContent
	display flex
	flex-direction column
	max-height 0
	overflow hidden

	&.-price
		flex-direction row
		justify-content space-between

.inputBox
	display flex
	align-items center
	margin 10px 0 0

.checkboxName
	margin 0 0 0 10px

.input
	border: 1px solid $colors.greyColor
	border-radius 3px
	display flex
	align-items center
	position relative
	margin 0 0 0 10px
	input
		width 65px
		padding 5px

.submit
	padding 10px 15px

.-filterBtn
	width 100%
