$colors = {
  greyColor:        #D8D8D8
  whiteColor:       #fff
  blackColor:       #444444
  blackSecondColor: #222222
  orangeColor:      #fdc02f
  blueColor:        #2196f3
  lightBlueColor:   #b0e5ec
}
