.root
  display flex
  justify-content space-between
  margin 30px 0 0
  padding 0 0 30px

  h1
    color: $colors.blackColor
    margin 0 0 15px

.title
  margin 0 0 15px

.aboutBox
.mapBox
  display flex
  flex-direction column
  width 30%

.aboutBox
  align-items flex-end

.mapBox
  width 50%

.contentContacts
  display flex
  flex-direction column
  margin 0 10% 0 0

.contactsBox
  display flex
  align-items center
  margin 10px 0 0

.icon
  margin 0 10px 0 0

.-number
  align-items flex-start
