.root
  background-size 100% 100%
  background-repeat no-repeat
  background-position 0 0
  width 100%
  color: $colors.whiteColor
  font-size 13px
  font-family 'Thin', arial, sans-serif
  display flex
  flex-direction column
  align-items center
  margin 40px 0 0
  position relative

  justify-content center
  height 400px

  h1
    font-size 35px
    text-align center

  p
    margin 10px 0 0

  a
    color inherit
    text-decoration none

  .Btn
    margin 65px 0 0

.globalSearchLink
  display inline-block
  margin 10px 0 0

.createInform
  width 100%
  margin 15px 0
  display flex
  justify-content center

.edit
	background url('/img/edit.png') no-repeat 0 0
	background-size 100% 100%
	width 15px
	height 15px
	position absolute
	top 5px
	right 5px
