index:
  view.-callManeger(is='Popup' as='page.popups.callManeger')
    view(is='CallManeger')
    
  ._content
  
    ._row
      ._inner
        view(is='TopBar')
        
    ._row
      ._inner
        view(is='CardIndex')
        
    ._row
      ._inner
        view(is='Footer')

        
