.root
  display flex
  padding 15px 0
  align-items center
  border-bottom: 1px solid $colors.greyColor

.search
  flex 1
  margin 0 0 0 10%

.searchArea
  border none
  padding 10px 15px
  width 100%
  outline none

.navigation
  display flex
  align-items center
  a
    color: $colors.blueColor
    font-size 17px
    line-height 20px
    text-decoration none
    margin 0 15px 0 0
    &.-active
      color red

    &.-link
      display flex
      align-items center
      margin 0
