.root
  display flex
  flex-direction column
  margin 20px 0 0
  font-family 'Thin', arial, sans-serif
  flex 1

  .Btn
    align-self flex-start
    margin 0 0 10px
    
.list
    display flex
    flex-wrap wrap
    margin 0 0 0 -18px
