index:
  view.-callManeger(is='Popup' as='page.popups.callManeger')
    view(is='CallManeger')
    
  ._content
    ._row
      ._inner
        view(is='TopBar')
    
    ._row
      ._inner
        view(is='Slider')
        
    ._row
      view(is='TopInformBox')
        
    ._row
      ._inner
        view(is='Filters')
        
    ._row
      ._inner
        view(is='CardsList')
        
    ._row
      view(is='BottomInformBox')
      
    ._row
      ._inner
        view(is='Footer')
        
