.root
  color: $colors.blackColor
  display flex
  flex-direction column
  padding 15px 0
  margin 10px 0
  border-bottom: 1px solid $colors.greyColor

  input
  select
    width 100%
    height 100%
    position relative
    z-index 9
    padding 7px 10px

.filtersBox
  display flex

.filter
  display flex
  align-items center
  margin 0 0 0 3.7%
  &:first-child
    margin 0

.spacer
  margin 0 10px

.name
.currency
  font-size 15px
  margin 0 10px 0 0

.currency
  margin 0 0 0 10px

.input
  border: 1px solid $colors.greyColor
  border-radius 3px
  width 130px
  display flex
  align-items center
  position relative

.arrow
  font-size 10px
  position absolute
  right 10px
  top 7px

.-small
  width 70px

.-filter
  align-self flex-end
  margin 10px 0 0
